@import "tailwindcss";
@source inline("{bg:}");

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  height: 100vh;
}

@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  80% {
    transform: translateX(0px);
  }
  85% {
    transform: translateX(5px);
  }
  95% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.wiggle {
  animation: wiggle 1.5s infinite;
}
